* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.month-display,
.year-display {
  display: flex;
  gap: 20px;
  justify-content: center;
  font-size: 26px;
}
.month-display button,
.year-display button {
  padding-inline: 10px;
}
.year-display {
  gap: 1.2rem;
  margin-top: 10px;
}
.box {
  padding-inline: 30px;
  padding-block: 10px;
  border: 2px solid black;
  border-radius: 10px;
}
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}
#blue {
  background-color: cyan;
}
.envelope {
  visibility: hidden;
}
#btn {
  padding-inline: 10px;
  padding-block: 5px;
  width: 90%;
  margin-left: 50px;
  margin-top: 10px;
  border-radius: 10px;
}
#textAble,
#divAble {
  display: block;
}
#textDisable,
#divDisable {
  display: none;
}
.text-final {
  border: 1px solid black;
  border-radius: 10px;
  background-color: cyan;
  padding-inline: 50px;
  padding-block: 80px;
  width: 90%;
  margin-inline: 50px;
  margin-top: 20px;
}
#visible {
  visibility: visible;
}
#bg-blue {
  background-color: cyan;
}
.edit-btn {
  padding-inline: 50px;
  background-color: Yellow;
  padding-block: 10px;

  width: 48%;
}
.del-btn {
  background-color: red;
  padding-inline: 50px;
  padding-block: 10px;
  margin: 5px;
  width: 48%;
}
@media only screen and (min-width: 347px) and (max-width: 800px) {
  .box {
    padding-inline: 20px;
    padding-block: 5px;
  }
  textarea {
    width: 98% !important;
    margin-inline: 0px !important;
  }
  #btn {
    width: 100%;
    margin-left: 0px;
  }
}
